# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Project Specific
output/
!output/example.png
!output/Demo_Case/
!output/.keep
